[submodule "tools/FlameGraph"]
	path = tools/FlameGraph
	url = https://github.com/brendangregg/FlameGraph
[submodule "tools/perf-orchestrator"]
	path = tools/perf-orchestrator
	url = https://github.com/VincentNguyenDuc/perf-orchestrator.git
